<mat-toolbar color="primary d-flex justify-content-between mat-elevation-z3">
    <div class="d-flex align-items-center">
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img type="button" (click)="onLogoImageClick()"
            [src]="(isHandSet$ | async) ? 'assets/Logo.png' : 'assets/LogoWithName.png' "
            height="50px" />
    </div>
    <div class="d-flex align-items-center">
        @if(!(isHandSet$ | async)){
        Welcome
        }
        <div class="dropdown">
            <button
                mat-button
                type="button"
                class="fs-5"
                [matMenuTriggerFor]="menu">
                {{profileName}}
            </button>
            <mat-menu #menu="matMenu" class="text-center fw-bolder">
                <button type="button" class="dropdown-item"
                    (click)="onLogOutButtonClick()">
                    Log Out
                </button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container class="mainBody">
    <mat-sidenav #drawer class="sidenav bg-body-secondary" fixedInViewport
        [attr.role]="(isHandSet$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandSet$ | async) ? 'over' : 'side'"
        [opened]="!(isHandSet$ | async)">
        <mat-nav-list class="text-center">
            @for(sideBarItem of sideNavItems; track sideBarItem){
            <a mat-list-item [routerLink]="[sideBarItem[1]]"
                routerLinkActive="active">
                {{sideBarItem[0]}}
            </a>
            }
        </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
