.filter-div {
    width: 320px;
    height: 55px;
}

a {
    text-decoration: none;
}

::ng-deep .ng-select .ng-select-container .ng-input {
    top: auto !important;
}

.ng-select.custom,
.ng-select.custom ::ng-deep .ng-select-container {
    min-height: 55px;
}

@media only screen and (max-width: 776px) {
    .filter-options {
        flex-direction: column;
    }

    .filter-div {
        width: 100%;
        margin-bottom: 10px;
    }
}