<app-header />
<div class="container my-3">
    <div class="d-flex justify-content-between mx-1">
        <div class="text-center fw-semibold fs-5">
            <i class="bi bi-calendar-check"></i>
            : {{ blog.createdDate | date }}
            |
            <i class="bi bi-award"></i>
            : {{blog.status | enumIntToValue}}
        </div>
        <div>
            <a class="btn text-white" [routerLink]="['/author/dashboard']">
                Back
            </a>
        </div>
    </div>
    <div class="container shadow-sm card p-2 mt-2">
        <div class="card-header bg-white">
            <h3 class="card-title bg-white">
                {{ blog.title }} 
            </h3>
        </div>
        <div class="card-body" [innerHTML]="blog.content"></div>
        @if(blog.status==4){
        <div class="card-footer d-flex justify-content-end">
            <a class="btn text-white"
                [routerLink]="['/author/edit-blog', blogId]">
                Edit Blog
            </a>
        </div>
        }
    </div>
</div>
