<div class="container p-2">
    <div class="card shadow-sm p-3">
        <div class="d-flex justify-content-between my-1 align-items-center">
            <span class="fs-3 fw-bolder"> Category </span>
            <div>
                <button
                    mat-mini-fab
                    color="addon-wrapping"
                    class="me-2 shadow-none border-1 border"
                    type="button"
                    [disabled]="editCategoryId != null || isCreateCategory"
                    (click)="onFilterButtonClick()">
                    <i class="bi bi-funnel"></i>
                </button>
                @if(isCreateCategory){
                <button mat-flat-button class="bg-secondary text-white"
                    (click)="closeModal()">
                    Cancel
                </button>
                }@else {
                <button mat-flat-button color="primary"
                    (click)="openModal(null,true)">
                    Add New
                </button>
                }
            </div>
        </div>
        @if(isCreateCategory){
        <app-add-edit-modal [isCreateCategory]="true"
            (conformUpdate)="closeModal($event)" />
        }
        @if(isFilterOptionsExpended)
        {
        <hr class="m-0 my-2" />
        <div class="d-flex filter-options">
            <div class="input-group flex-nowrap filter-div me-2">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="bi bi-search"></i>
                </span>
                <input
                    (input)="onSearchInputChange($event)"
                    type="search"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="addon-wrapping" />
            </div>
            <div class="form-floating filter-div me-2">
                <select
                    (change)="onStatusChange($event)"
                    class="form-select"
                    id="floatingSelect"
                    aria-label="status">
                    <option value="0" selected>All</option>
                    <option value="1">Active</option>
                    <option value="2">Deleted</option>
                </select>
                <label for="floatingSelect">Status</label>
            </div>
        </div>
        }
    </div>
    @defer (when categoryResponse != null) {
    <div class="mt-3 card shadow-sm p-3 table-responsive">
        <table class="table text-center table-bordered rounded-2 fs-6">
            <thead colo>
                <tr class="align-middle">
                    <th class="col-4">Name</th>
                    <th class="col-1">Status</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(category of categoryResponse.dtoList; track category.id){
                <tr class="align-middle">
                    <td class="mat-primary">
                        {{ category.name }}
                    </td>
                    <td>
                        <span
                            class="badge rounded-pill fw-normal px-3 py-2"
                            [ngClass]="statusWiseClasses[category.status]">
                            {{ category.status | categoryStatusIntToValue }}
                        </span>
                    </td>
                    <td class="fs-5">
                        @if(editCategoryId == category.id){
                        <button mat-flat-button class="shadow-none me-2"
                            color="primary"
                            (click)="onEditConform()">
                            Update
                            @if(isUpdateButtonClick){
                            <i class="fa-solid fa-spinner rotate"></i>
                            }
                        </button>
                        <button mat-flat-button
                            class="shadow-none bg-secondary text-white"
                            (click)="closeModal()">
                            Cancel
                        </button>
                        }@else {
                        <button mat-mini-fab class="bg-secondary shadow-none"
                            (click)="openModal(category)"
                            title="Edit Category">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        }
                    </td>
                </tr>
                @if(editCategoryId == category.id){
                <tr>
                    <td colspan="3">
                        <app-add-edit-modal [category]="category"
                            (conformUpdate)="closeModal($event)" />
                    </td>
                </tr>
                }
                }
            </tbody>
        </table>
        <mat-paginator
            class="fs-6"
            (page)="changePage($event)"
            [length]="categoryResponse.totalCount"
            [pageSizeOptions]="[10,15,20]"
            [pageSize]="10"></mat-paginator>
    </div>
    }@placeholder(minimum 1000ms) {
    <mat-progress-bar mode="indeterminate" class="rounded-4"></mat-progress-bar>
    <div class="mt-3 card shadow-sm p-3 table-responsive">
        <table class="table text-center table-bordered rounded-2 fs-6">
            <thead colo>
                <tr class="align-middle">
                    <th class="col-4">Name</th>
                    <th class="col-1">Status</th>
                    <th class="col-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(i of [].constructor(10);track i){
                <tr>
                    @for(j of [].constructor(3);track j){
                    <td>
                        <ngx-skeleton-loader></ngx-skeleton-loader>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>
