.main-div{
    border-radius: 10px;
    background-color: white;
}

select{
    width: 150px;
    border: 0.5px solid black;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
}

.send-button{
    border-radius: 0px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.title{
    height: 100px;
}

.content{
    height: 700px!important;
}

textarea,
input{
    border-color: black;
}

.btn{
    background-color: #0486a1;
}