<div class="background">
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="logInCard p-4 shadow-lg rounded-4">
            <div class="card shadow-sm rounded-4">
                <div class="card-header text-center">
                    <img src="assets/Email.png" />
                </div>
                <div class="card-body text-center">
                    <div class="h4">
                        Verify Your email address
                    </div>
                    <div class="mt-3 h5">
                        Welcome to
                        <span class="text-color">
                            BlogOps
                        </span>
                    </div>
                    <div class="mt-3 h5">
                        Please click the button below to confirm your email address and activate your account
                    </div>
                    <button mat-flat-button color="primary mt-3" [disabled]="user == null">
                        CONFIRM EMAIL
                    </button>
                    <div class="mt-4 text-secondary">
                        If you received this in error, simply ignore this email and do not click the button.
                    </div>
                </div>
            </div>
            <div class="text-center card-title fs-3 fw-bold mt-3">
                <img src="assets/LogInLogo.png" height="45px" />
            </div>
        </div>
    </div>
</div>