<div class="container">
    <div class="shadow-sm card main-div p-2 mt-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-center fw-bold fs-3">
                New User
            </div>
            <button class="btn text-white">
                Back
            </button>
        </div>
    </div>
    <div class="shadow-sm card main-div">
        <div class="form-floating">
            <input
              type="email"
              formControlName = "email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Email address</label>
          </div>
          
    </div>
</div>
