<div class="container">
  <div class="shadow-sm card main-div p-3 mt-2">
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-center fw-bold fs-3">
        @if (this.blogId != undefined) { Edit Blog } @else { New Blog }
      </div>
      <button mat-flat-button color="primary" (click)="onBackButtonClick()">
        Back
      </button>
    </div>
  </div>
  @defer (when categoryResponse != null) {
  <form class="p-3 shadow-sm card main-div my-3" [formGroup]="blogForm" (submit)="onFormSubmit()">
    <div class="fs-5 fw-bolder mb-2 mx-1">Blog Title</div>
    <div class="form-floating">
      <textarea formControlName="title" class="form-control title" placeholder="Title" id="title"
        length="70px"></textarea>
      <label for="title">Title</label>
    </div>
    <app-validation-message [control]="blogForm.controls['title']" controlName="Title" [length]="128" />
    <div class="fs-5 fw-bolder mb-2 mt-3 mx-1">Blog Content</div>
    <editor [init]="editorConfig" formControlName="content" aria-placeholder="Content" class="shadow-none"></editor>
    <app-validation-message [control]="blogForm.controls['content']" controlName="Content" />
    <div class="d-flex align-items-baseline mt-3 blogCategories">
      <div class="fs-5 fw-bolder mb-2 mt-3 mx-1">Blog Categories :</div>
      <ng-select formControlName="blogCategories" class="custom" [items]="selectSearchCategories"
        placeholder="Categories" bindLabel="name" bindValue="id" [multiple]="true" [typeahead]="categorySearchInput$"
        (scrollToEnd)="onOptionScroll()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          {{item.name}}
        </ng-template>
      </ng-select>
    </div>
    <app-validation-message [control]="blogForm.controls['blogCategories']" controlName="BlogCategories" />
    <hr />
    <div class="input-group d-flex justify-content-end me-2 mb-2">
      <select (change)="onBlogTypeChange($event)">
        <option value="0" [selected]="isDraft">Draft</option>
        <option value="1" [selected]="!isDraft">Send For Approval</option>
      </select>
      <div class="input-group-append">
        <button class="send-button fs-4" mat-flat-button color="primary">
          @if(isButtonClick){
          <i class="fa-solid fa-spinner rotate"></i>
          }@else {
          <i class="fa-solid fa-paper-plane"></i>
          }
        </button>
      </div>
    </div>
  </form>
  } @loading {}
</div>