.main-div{
    border-radius: 10px;
    background-color: white;
}

select{
    width: 150px;
    border: 0.5px solid black;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    height: 45px;
}

.send-button{
    border-radius: 0px;
    height: 45px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.title{
    height: 100px;
}

textarea,
input{
    border-color: black;
}

.btn{
    background-color: #0486a1;
}

.tox-promotion{
    display: none;
}

.custom{
    width: 400px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value,
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder,
::ng-deep .ng-select .ng-select-container .ng-input {
    top: auto !important;
    color: black;
}

.ng-select.custom,
.ng-select.custom ::ng-deep .ng-select-container {
    min-height: 55px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container{
    flex-wrap: unset!important;
    overflow-x: scroll;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:776px) {
    .blogCategories{
        flex-direction: column;
    }
}

@media screen and (max-width:776px) {
    .custom{
        width: 70%;
    }
}