.main-div{
    border-radius: 10px;
    background-color: white;
}

select{
    width: 150px;
    border: 0.5px solid black;
    border-start-start-radius: 5px;
    border-end-start-radius: 5px;
    height: 45px;
}

.send-button{
    border-radius: 0px;
    height: 45px;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
}

.title{
    height: 100px;
}

textarea,
input{
    border-color: black;
}

.btn{
    background-color: #0486a1;
}

.tox-promotion{
    display: none;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder,
::ng-deep .ng-select .ng-select-container .ng-input {
    top: auto !important;
}

.ng-select.custom,
.ng-select.custom ::ng-deep .ng-select-container {
    min-height: 55px;
}