body{
    background-color: #f9f9f9;;
}

.focusText{
    background-color: white;
    color: #0486a1;
    border: 1px solid #0486a1;
    border-radius: 10px;
}

.focusBackground{
    background-color: #0486a1;
    color: white;
    border: 1px solid white;
}

.bg-main{
    background-color: #0486a1;
}
