.focusText{
    background-color: white;
    color: #6fd6eb;
    border: 1px solid #6fd6eb;
    border-radius: 10px;
}

.focusBackground{
    background-color: #6fd6eb;
    color: white;
    border: 1px solid white;
}

.bg-main{
    background-color: #6fd6eb;
}
