<div class="container p-2">
    <div class="card shadow-sm p-3">
        <div class="d-flex justify-content-between align-items-center my-1">
            <span class="fs-3 fw-bolder"> User </span>
            <div>
                <button
                    mat-mini-fab
                    color="addon-wrapping"
                    class="me-2 shadow-none border-1 border"
                    type="button"
                    (click)="onFilterButtonClick()">
                    <i class="bi bi-funnel"></i>
                </button>
                <a mat-flat-button color="primary"
                    [routerLink]="['/admin/user/new']">
                    Add New
                </a>
            </div>
        </div>
        <mat-expansion-panel
            [expanded]="isFilterOptionsExpended"
            class="shadow-none">
            <hr class="m-0 my-2" />
            <div class="d-flex">
                <div class="input-group flex-nowrap filter-div me-2">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="bi bi-search"></i>
                    </span>
                    <input
                        (input)="onSearchInputChange($event)"
                        type="search"
                        class="form-control"
                        placeholder="Search"
                        aria-label="Search"
                        aria-describedby="addon-wrapping" />
                </div>
                <div class="form-floating filter-div me-2">
                    <select
                        (change)="onStatusChange($event)"
                        class="form-select"
                        id="floatingSelect"
                        aria-label="status">
                        <option value="3" selected>All</option>
                        <option value="0">Active</option>
                        <option value="1">DeActive</option>
                        <option value="2">Deleted</option>
                    </select>
                    <label for="floatingSelect">Status</label>
                </div>
                <div class="form-floating filter-div">
                    <select
                        (change)="onRoleChange($event)"
                        class="form-select"
                        id="floatingSelect"
                        aria-label="User">
                        <option value="0" selected>All</option>
                        <option value="1">Admin</option>
                        <option value="2">Author</option>
                    </select>
                    <label for="floatingSelect">Role</label>
                </div>
            </div>
        </mat-expansion-panel>
    </div>
    @defer (when userResponse != null) {
    <div class="table-responsive mt-3 card shadow-sm p-3">
        <table class="table table-bordered rounded-2 fs-5">
            <thead>
                <tr class="align-middle">
                    <th class="col-4 mx-3">Email</th>
                    <th class="col-4 mx-3">Full Name</th>
                    <th class="col-2 text-center">Status</th>
                    <th class="col-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(user of userResponse.dtoList; track user.id){
                <tr class="align-middle">
                    <td class="mx-3">
                        {{ user.email }}
                    </td>
                    <td class="mx-3">{{ user.firstName }} {{ user.lastName
                        }}</td>
                    <td class="text-center">
                        <span
                            class="badge rounded-pill fw-normal px-3 py-2"
                            [ngClass]="statusWiseClasses[user.status]">
                            {{ user.status | userStatusIntToValue }}
                        </span>
                    </td>
                    <td class="fs-5 text-center">
                        <a
                            mat-mini-fab
                            class="bg-secondary shadow-none"
                            [routerLink]="['/admin/user/edit', user.id]">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <mat-paginator
            class="fs-6"
            (page)="changePage($event)"
            [length]="userResponse.totalCount"
            [pageSizeOptions]="[5,10,15,20]"
            [pageSize]="5"></mat-paginator>
    </div>
    }@placeholder(minimum 1000ms) {
    <mat-progress-bar mode="indeterminate" class="rounded-4"></mat-progress-bar>
    <div class="table-responsive mt-3 card shadow-sm p-3">
        <table class="table table-bordered rounded-2 fs-5">
            <thead>
                <tr class="align-middle">
                    <th class="col-4 mx-3">Email</th>
                    <th class="col-4 mx-3">Full Name</th>
                    <th class="col-2 text-center">Status</th>
                    <th class="col-2 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @for(i of [].constructor(10);track i){
                <tr>
                    @for(j of [].constructor(4);track j){
                    <td>
                        <ngx-skeleton-loader></ngx-skeleton-loader>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</div>
