.filter-div {
    width: 350px;
    height: 55px;
}

/* .btn {
    background-color: #0486a1;
} */

.top-options a{
    width: 200px;
    height: 55px;
}

.skeleton{
    height: 500px;
}

@media only screen and (max-width: 996px) {
    .top-options {
        flex-direction: column;
    }

    .top-options a{
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .filter-div {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .filter-options {
        flex-direction: column;
    }
}