<app-header />
<div class="m-3">
    <div class="d-flex mb-3 filter-options">
        <div class="input-group flex-nowrap filter-div me-4">
            <span class="input-group-text" id="addon-wrapping">
                <i class="bi bi-search"></i>
            </span>
            <input type="search" class="form-control" placeholder="Search"
                aria-label="Search" aria-describedby="addon-wrapping">
        </div>
        <div class="form-floating filter-div">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option value=0 selected>All</option>
                <option value=1>New</option>
                <option value=2>Approved</option>
                <option value=3>Rejected</option>
            </select>
            <label for="floatingSelect">Status</label>
          </div>
    </div>
    <div class="row">
        @defer () {
            @for(blog of response.dtoList;track blog.id){
                <app-blog-card [blog]="blog" class="col-xl-3 col-ld-4 col-md-4 col-sm-6 col-12"/>
            }
        }@loading {}
    </div>
</div>